{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<section class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Fruitlify</h1>
        <p class="col-md-8 fs-4">
            Website klasifikasi kualitas buah-buahan impor yang umum ditemukan seperti apel, pisang, jeruk, jeruk nipis, jambu, dan delima
        </p>
        <a class="btn btn-primary btn-lg" href="/classification">Cek kualitas buahmu</a>
    </div>
</section>
<section id="ilmu-buah" class="container my-5">
    <h2>Apa itu buah?</h2>
    <p>
        Buah secara biologi berarti sebuah hasil reproduksi antara bunga jantan dan bunga betina. Buah merupakan organ tumbuhan berbunga yang menjadi perkembangan lanjutan dari ovarium (bakal buah) dan menjadi pelindung bagi biji tumbuhan tersebut.
    </p>
</section>
<section id="cek-kualitas-buah" class="container my-5">
    <h2>Bagaimana Cara Cek Kualitas Buah?</h2>
    <p>
        Buah dapat digolongkan menjadi dua kelompok, klimakterik dan non klimakterik. Yang pertama dapat diartikan sebagai buah yang dapat matang setelah dipanen dan yang kedua adalah buah yang tidak matang setelah dipanen. Contoh dari buah klimakterik adalah pisang, mangga, pepaya, dsb. Contoh dari buah non klimakterik meliputi buah jambu, jeruk, nanas, dsb.
    </p>
</section>
<section id="contoh-gambar" class="container">
    <section>
        <h2>Contoh Buah Bagus</h2>
        <img src="{{url_for('static', filename='img/good_apple.jpg')}}" alt="Buah Bagus">
    </section>
    <section>
        <h2>Contoh Buah Busuk</h2>
        <img src="{{url_for('static', filename='/img/bad_apple.JPG')}}" alt="Buah Busuk">
    </section>
</section>

{% endblock %}

